// variables
$mobile: 375px;
$desktop: 1440px;

$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$dark-gray: hsl(0, 0%, 63%);
$very-dark-gray: hsl(0, 0%, 27%);

$font-family: "Spartan", sans-serif;
$font-size: 12px;

$height-slider: 67vh;
$height-about: 33vh;
$arrow-size: 80px;

$mediaquery-tablet: 1399px;
$mediaquery-mobile: 767px;

* {
  margin: 0;
  padding: 0;
}

.hidden,
.hidden--xl {
  display: none !important;
}

a,
a:hover {
  text-decoration: none;
  background-color: none;
  color: inherit;
}
a, button {
  &:active, &:focus {
    outline:none;
  }
}

img {
  display: block;
}

p {
  color: $dark-gray;
  line-height: 18px;
}

.lead {
  color: $black;
  text-transform: uppercase;
}

.container {
  width: 100%;
  font-family: $font-family;
  font-size: $font-size;
}

@media (max-width: $mediaquery-mobile) {
  .hidden{
    &--sm {
      display: none !important;
    }
    &--xl {
      display: inherit !important;
    }
  }
}

@import './_header.scss';
@import './_slider.scss';
@import './_about.scss';
@import './_footer.scss';